################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WebApp/v17
/.vs
/WebApp/.vs/WebApp
/WebApp/WebApp/bin/Debug/net6.0
/WebApp/WebApp/obj
